body{
    font-family:"Arial";
}

nav a{
    color: white;
    font-weight: bold;
    text-decoration: none;
    padding-right:5px;
}

nav{
    background-color: blue;
    padding: 10px;
}

div.Wrapper{
    width: 960px;
    margin: auto;
}

table {
    border: 1px solid black;
    border-collapse: collapse;
}


article{
    float:left;
    width:465px;
    margin-top: 30px;
    margin-right: 30px;
}

img.huts{
    width: 350px;
    height: 350px;
    padding: 40px;
}

header tr#titel {
    float: right;
}
