nav#Balk{
    width: 100%;
    margin-top: -8px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 16px;
    margin-left: -8px;
    margin-bottom: 20px;
    background-color: #6fa8dc;
}
nav a{
    margin: auto;
    color: black;
    text-decoration: none;
    padding: 30px;
    font-family: Arial, sans-serif;
    font-size: 20px;
}

footer{
    width: 100%;
    margin-left: -8px;
    background-color: #7e7c7f;
    color: white;
    clear: both;
    text-decoration: none;
    position: fixed;
    margin-top: 547px;
    float: bottom;
}

footer a{
    background-color: #7e7c7f;
    padding: 0;
    margin-left: 20px;
    margin-top: 20px;
    font-size: 15px;
    color: white;
    clear: both;
    text-decoration: none;
}

div#Section1 {
    height: 40%;
    width: 100%;
}

img.images {
    margin-left: 30px;
    width: 300px;
    height: 300px;
}

div#koek{
    width: 10%;
}

img.grootimage {
    width: 750px;
    height: 487px;
    float: right;
}

div#tekst {
    width: 40%;
    float: left;
}





/*.row::after {
    content: "";
    clear: both;
    display: table;
}

.column {
    float: left;
    width: 24%;
    padding: 5px;
}
*/
